:root {
  --indigo: #6610f2;
  --blue: #2699fb;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #f45905;
  --light-orange: #fb9224;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #8e8e8e;
  --gray-dark: #777777;
  --primary: #2a1a5e;
  --secondary: #707070;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --black: #000;
  --border: #dedede;
  --background: #f4f8fb;
  --brown-background: #ffe2d2;
  --brown: #f45905;
  --link: #c8c8c8;
  --breakpoint-xs: 320px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-max-xl: 1500px;
  --primaryFontFamily: LTBukra;
}